/*======= Base styles ============ */
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* ======== Header styles ======================= */
/* Logo */
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.67;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-header {
  color: #2e2f42;
}
/* Navigation on pages */
.nav-list {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list .nav-list-link:hover,
.nav-list .nav-list-link:focus {
  color: #404bbf;
}

.nav-list .nav-list-link:active {
  color: #404bbf;
}
/* Address */
.contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: #404bbf;
}
.contacts .contacts-link:active {
  color: #404bbf;
}
/* ====================================== */
/* ==========Main section================ */
.main-section {
  background-color: #2e2f42;
}
.main-section-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.main-section-btn {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.main-section-btn:hover,
.main-section-btn:focus {
  background: #404bbf;
  color: #fff;
}
.main-section-btn:active {
  background: #404bbf;
  color: #fff;
}
/* =========================== */
/* =====principles section===== */
.principles-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.principles-discr {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ================================= */
/* =====services section============ */
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
/* ================================= */
/* ======team-section=============== */
.team-section {
}
footer {
  background-color: #2e2f42;
}
.studio-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
