/*======= Base styles ============ */
body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* ======== Header styles ======================= */

.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 116.67;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-header {
  color: #2e2f42;
}

.nav-list {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list .nav-list-link:hover,
.nav-list .nav-list-link:focus {
  color: #2e2f42;
}

.nav-list .nav-list-link:active {
  color: #404bbf;
}

footer {
  background-color: #2e2f42;
}
.studio-footer {
  color: #f4f4fd;
}
